@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: #207e13;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.cards {
  background-color: white;
  width: 40vw;
  height: 50vw;
  border: 1mm solid black;
  border-radius: 15px;
  margin-top: 2vw;
}
.cardSuits {
  height: 20%;
}
.number {
  height: 60%;
  display: flex;
  align-items: center;
}
.number p {
  text-align: center;
  font-size: 16vw;
}
#suits {
  font-size: 4vw;
  padding: 1vw;
}
.suitTop {
  text-align: start;
}
.suitsBotton {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
